<div class="row">
    <div class="col-12">
          <div class="card" style="width: 100%;">
            <div class="card-body">
              <h5 class="card-title"><%= @movie.title %></h5>
              <h6 class="card-subtitle mb-2 text-muted">by <%= User.find(@movie.user_id).name %>
                <% if (timePassed = (Time.current() - @movie.created_at)/60) > 24*60 %> 
                  <%= "before #{(timePassed/(24*60)).floor} days" %>
                <% elsif timePassed > 60 %>
                  <%= "before #{(timePassed/60).floor} hours" %>
                <% else %>
                  <%= "before #{(timePassed).floor} minutes" %>
                <% end %>
              </h6>
              <p class="card-text"><%= @movie.description %></p>
            </div>
            <div class="card-footer text-muted">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
    </div>

  </div>